<% @events.each do |event| %>
  <div class="card" style="margin-top: 10px">
    <h5 class="card-header">
      <%= event.name %>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <div class="row">
          <div class="col-lg-4">
            <img src=<%= "#{event.image}" %> alt="" style="max-height: 300px; max-width: 300px;">
          </div>
          <div class="col-lg-8">
            <table class="table">
              <tbody>
              <tr>
                <td>Date:</td>
                <td><%= event.event_date %></td>
              </tr>
              <tr>
                <td>Ticket price:</td>
                <td><%= event.price %></td>
              </tr>
              <tr>
                <td>Number of places:</td>
                <td><%= event.size %></td>
              </tr>
              <tr>
                <td>Available for childred</td>
                <td>
                  <% if(event.for_children) %>
                    <%= "Yes" %>
                  <% else %>
                    <%= "No" %>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div style="text-align: right; width: 100%">
        <div class="row">
          <div class="col-lg-6" style="text-align: left">
            <% if user_signed_in? %>
              <%= button_to "Delete event", event, :method=>:delete, class: "btn btn-danger" %>
            <% end %>
          </div>
          <div class="col-lg-6">
            <%= link_to 'Details', event_path(event), class:"btn btn-primary", style: "display: inline" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
