<div class="card">
  <div class="card-header">
    <%=	"#{@event.name}" %>
  </div>
  <img class="card-img-top" src=<%= "#{@event.image}" %>>
  <div class="card-body">
    <p class="card-text">
        <table class="table">
          <tbody>
          <tr>
            <td>Date:</td>
            <td><%= @event.event_date %></td>
          </tr>
          <tr>
            <td>Ticket price:</td>
            <td><%= @event.price %></td>
          </tr>
          <tr>
            <td>Number of places:</td>
            <td><%= @event.size %></td>
          </tr>
          <tr>
            <td>Bought places:</td>
            <td>
              <%= @taken %>
            </td>
          </tr>
          <tr>
            <td>Available for childred</td>
            <td>
              <% if(@event.for_children) %>
                <%= "Yes" %>
              <% else %>
                <%= "no" %>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>

        <%= @event.description %>


      </p>
    </div>
</div>

<% if user_signed_in? %>
  <% if @event.tickets.exists?(user_id: current_user.id) %>
    <div class="card" style="margin-top: 10px">
      <div class="card-body">
        You have already bought ticket to this event.
      </div>
    </div>
  <% else if @event.event_date.past? %>
      <div class="card" style="margin-top: 10px">
        <div class="card-body">
          You can not buy tickets for events from past!
        </div>
      </div>
  <% else %>
    <%= render 'events/ticketFrom' %>
  <% end %>
<% end %>
<% end %>