<div class="card">
  <div class="card-header">
    <%=	"#{@event.name}" %>
  </div>
  <img class="card-img-top" src=<%= "#{@event.image}" %>>
  <div class="card-body">
    <p class="card-text">
        <table class="table">
          <tbody>
          <tr>
            <td>Opis:</td>
            <td><%= @event.description %></td>
          </tr>
          <tr>
            <td>Data:</td>
            <td><%= @event.event_date %></td>
          </tr>
          <tr>
            <td>Cena biletu:</td>
            <td><%= @event.price %></td>
          </tr>
          <tr>
            <td>Ilość miejsc</td>
            <td><%= @event.size %></td>
          </tr>
          <tr>
            <td>Wykupione miejsca</td>
            <td>
              TODO
            </td>
          </tr>
          <tr>
            <td>Dostępne dla dzieci</td>
            <td>
              <% if(@event.for_children) %>
                <%= "tak" %>
              <% else %>
                <%= "nie" %>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </p>
      <h2>Buy ticket:</h2>
      <%= form_with(model: [ @event, @event.tickets.build ], local: true) do |form| %>
        <p>
          <%= form.label :places %><br>
          <%= form.number_field :places %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
</div>
